In [153]:
import pandas as pd
import sqlite3
from sqlite3 import Error
import os

In [154]:
def create_connection(db_file: str) -> sqlite3.Connection:

    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [155]:
path = os.path.abspath(os.path.join(os.getcwd(), os.path.pardir))

In [156]:
conn = create_connection(os.path.join(path, "data/league.db"))

In [163]:
def select_all(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("""SELECT * 
                    FROM Team_Stats
                    INNER JOIN General_Data
                    ON Team_Stats.Match_id = General_Data.Match_id
                    """)

    rows = cur.fetchall()
    return rows

In [164]:
cur = conn.cursor()

In [165]:
cur.execute("""PRAGMA foreign_key""")

cur.fetchall()

[]

In [166]:
data = select_all(conn)

In [167]:
df_general = pd.DataFrame(data)

In [179]:
df_general.iloc[0]

0                   Dark Passage Academy
1                                    LOSS
2                                      17
3                                     0.0
4                                       1
5                                       0
6                                       2
7                                     0.0
8                                   57.3k
9                                  Irelia
10                                   Yone
11                                  Akali
12                                 Akshan
13                                  Jayce
14                                 Gragas
15                                Hecarim
16                                   Ahri
17                                   Jinx
18                                  Leona
19                                 391210
20                                 391210
21                2022-03-21 (SEMIFINALS)
22                                    FB
23                                     DP
24    Turkey Academy Winter Playoffs 2022
25                                  33:41
26                                  v12.5
Name: 0, dtype: object

In [51]:
df_count = df.groupby([0, 1]).count().iloc[:, 0:1]

In [68]:
df_count.reset_index()

                         0     1    2
0             100 Thieves   LOSS  116
1             100 Thieves    WIN  130
2     100 Thieves Academy   LOSS  106
3     100 Thieves Academy    WIN  135
4        100 Thieves Next   LOSS    4
...                    ...   ...  ...
1471          x25 Esports    WIN   16
1472              x6tence   LOSS   22
1473              x6tence    WIN    9
1474           yng Sharks   LOSS    6
1475           yng Sharks    WIN    6

[1476 rows x 3 columns]

In [47]:
df.groupby([0]).count().iloc[:, 0:1].sort_values(1, ascending=False).head(5)

                   1
0
KT Rolster       702
Fnatic           617
Afreeca Freecs   588
Team Liquid      536
G2 Esports       513