In [1]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import sqlite3
from sqlite3 import Error
import os
from sklearn.dummy import DummyRegressor

In [2]:
path = os.path.abspath(os.path.join(os.getcwd(), os.path.pardir))

In [3]:
def create_connection(db_file: str) -> sqlite3.Connection:

    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [4]:
conn = create_connection(os.path.join(path, "data/league.db"))

In [5]:
def select_data_to_ml_model(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("""SELECT Club_Name,
                            Result,
                            Kills,
                            First_Blood,
                            First_Tower,
                            Dragons,
                            Barons, 
                            Gold, 
                            Ban_1, 
                            Ban_2, 
                            Ban_3, 
                            Ban_4, 
                            Ban_5, 
                            Pick_1, 
                            Pick_2, 
                            Pick_3, 
                            Pick_4, 
                            Pick_5, 
                            Team_stats.Match_id,
                            General_Data.Time,
                            General_Data.Game_Version
                    FROM Team_Stats
                    INNER JOIN General_Data
                    ON Team_Stats.Match_id = General_Data.Match_id
                    """)

    rows = cur.fetchall()
    return rows

In [6]:
columns_names = ['Club_Name', 'Result', 'Kills', 'First_Blood', 'First_Tower', 'Dragons', 'Barons', 'Gold', 'Ban_1', 'Ban_2', 'Ban_3', 'Ban_4', 'Ban_5', 'Pick_1', 'Pick_2', 'Pick_3', 'Pick_4', 'Pick_5', 'Match_id', 'Time', 'Game_Version']

In [7]:
data = select_data_to_ml_model(conn)

In [8]:
df_general = pd.DataFrame(data, columns=columns_names)

In [9]:
legends = (df_general.Ban_1.unique().tolist()+df_general.Ban_2.unique().tolist()+df_general.Ban_3.unique().tolist()+df_general.Ban_4.unique().tolist()+df_general.Ban_5.unique().tolist())

In [10]:
unique_legeneds = pd.Series(legends)

In [11]:
stripped = unique_legeneds.apply(lambda x: x.strip())

In [12]:
df_general = df_general.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [13]:
unique_legends = stripped.unique()

In [14]:
df = pd.DataFrame(unique_legends)

In [15]:
X = []
for i in range(len(df)):
    x = []
    x.append(df[0][i])
    x.append(df.index.to_list()[i])
    X.append(x)

In [16]:
enc = OneHotEncoder(handle_unknown='ignore')

In [17]:
enc.fit(X)

OneHotEncoder(handle_unknown='ignore')

In [18]:
enc.categories_

[array(['Aatrox', 'Ahri', 'Akali', 'Akshan', 'Alistar', 'Amumu', 'Anivia',
        'Annie', 'Aphelios', 'Ashe', 'Aurelion', 'Azir', 'Bard',
        'Blitzcrank', 'Brand', 'Braum', 'Caitlyn', 'Camille', 'Cassiopeia',
        'Chogath', 'Corki', 'Darius', 'Diana', 'Dr.', 'Draven', 'Ekko',
        'Elise', 'Evelynn', 'Ezreal', 'Fiddlesticks', 'Fiora', 'Fizz',
        'Galio', 'Gangplank', 'Garen', 'Gnar', 'Gragas', 'Graves', 'Gwen',
        'Hecarim', 'Heimerdinger', 'Illaoi', 'Irelia', 'Ivern', 'Janna',
        'Jarvan', 'Jax', 'Jayce', 'Jhin', 'Jinx', 'Kaisa', 'Kalista',
        'Karma', 'Karthus', 'Kassadin', 'Katarina', 'Kayle', 'Kayn',
        'Kennen', 'KhaZix', 'Kindred', 'Kled', 'KogMaw', 'LeBlanc', 'Lee',
        'Leona', 'Lillia', 'Lissandra', 'Lucian', 'Lulu', 'Lux',
        'Malphite', 'Malzahar', 'Maokai', 'Master', 'Miss', 'Mordekaiser',
        'Morgana', 'Nami', 'Nasus', 'Nautilus', 'Neeko', 'Nidalee',
        'Nocturne', 'None', 'Nunu', 'Olaf', 'Orianna', 'Ornn', 'Pantheon',
        'Poppy', 'Pyke', 'Qiyana', 'Quinn', 'Rakan', 'Rammus', 'RekSai',
        'Rell', 'Renata', 'Renekton', 'Rengar', 'Riven', 'Rumble', 'Ryze',
        'Samira', 'Sejuani', 'Senna', 'Seraphine', 'Sett', 'Shaco', 'Shen',
        'Shyvana', 'Singed', 'Sion', 'Sivir', 'Skarner', 'Sona', 'Soraka',
        'Swain', 'Sylas', 'Syndra', 'Tahm', 'Taliyah', 'Talon', 'Taric',
        'Teemo', 'Thresh', 'Tristana', 'Trundle', 'Tryndamere', 'Twisted',
        'Twitch', 'Udyr', 'Urgot', 'Varus', 'Vayne', 'Veigar', 'VelKoz',
        'Vex', 'Vi', 'Viego', 'Viktor', 'Vladimir', 'Volibear', 'Warwick',
        'Wukong', 'Xayah', 'Xerath', 'Xin', 'Yasuo', 'Yone', 'Yorick',
        'Yuumi', 'Zac', 'Zed', 'Zeri', 'Ziggs', 'Zilean', 'Zoe', 'Zyra'],
       dtype=object),
 array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
        19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
        53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
        70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
        87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102,
        103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
        116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
        129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
        142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154,
        155, 156, 157, 158, 159], dtype=object)]

In [19]:
enc_feature = enc.transform(X).toarray()

In [20]:
enc.get_feature_names_out()

array(['x0_Aatrox', 'x0_Ahri', 'x0_Akali', 'x0_Akshan', 'x0_Alistar',
       'x0_Amumu', 'x0_Anivia', 'x0_Annie', 'x0_Aphelios', 'x0_Ashe',
       'x0_Aurelion', 'x0_Azir', 'x0_Bard', 'x0_Blitzcrank', 'x0_Brand',
       'x0_Braum', 'x0_Caitlyn', 'x0_Camille', 'x0_Cassiopeia',
       'x0_Chogath', 'x0_Corki', 'x0_Darius', 'x0_Diana', 'x0_Dr.',
       'x0_Draven', 'x0_Ekko', 'x0_Elise', 'x0_Evelynn', 'x0_Ezreal',
       'x0_Fiddlesticks', 'x0_Fiora', 'x0_Fizz', 'x0_Galio',
       'x0_Gangplank', 'x0_Garen', 'x0_Gnar', 'x0_Gragas', 'x0_Graves',
       'x0_Gwen', 'x0_Hecarim', 'x0_Heimerdinger', 'x0_Illaoi',
       'x0_Irelia', 'x0_Ivern', 'x0_Janna', 'x0_Jarvan', 'x0_Jax',
       'x0_Jayce', 'x0_Jhin', 'x0_Jinx', 'x0_Kaisa', 'x0_Kalista',
       'x0_Karma', 'x0_Karthus', 'x0_Kassadin', 'x0_Katarina', 'x0_Kayle',
       'x0_Kayn', 'x0_Kennen', 'x0_KhaZix', 'x0_Kindred', 'x0_Kled',
       'x0_KogMaw', 'x0_LeBlanc', 'x0_Lee', 'x0_Leona', 'x0_Lillia',
       'x0_Lissandra', 'x0_Lucian', 'x0_Lulu', 'x0_Lux', 'x0_Malphite',
       'x0_Malzahar', 'x0_Maokai', 'x0_Master', 'x0_Miss',
       'x0_Mordekaiser', 'x0_Morgana', 'x0_Nami', 'x0_Nasus',
       'x0_Nautilus', 'x0_Neeko', 'x0_Nidalee', 'x0_Nocturne', 'x0_None',
       'x0_Nunu', 'x0_Olaf', 'x0_Orianna', 'x0_Ornn', 'x0_Pantheon',
       'x0_Poppy', 'x0_Pyke', 'x0_Qiyana', 'x0_Quinn', 'x0_Rakan',
       'x0_Rammus', 'x0_RekSai', 'x0_Rell', 'x0_Renata', 'x0_Renekton',
       'x0_Rengar', 'x0_Riven', 'x0_Rumble', 'x0_Ryze', 'x0_Samira',
       'x0_Sejuani', 'x0_Senna', 'x0_Seraphine', 'x0_Sett', 'x0_Shaco',
       'x0_Shen', 'x0_Shyvana', 'x0_Singed', 'x0_Sion', 'x0_Sivir',
       'x0_Skarner', 'x0_Sona', 'x0_Soraka', 'x0_Swain', 'x0_Sylas',
       'x0_Syndra', 'x0_Tahm', 'x0_Taliyah', 'x0_Talon', 'x0_Taric',
       'x0_Teemo', 'x0_Thresh', 'x0_Tristana', 'x0_Trundle',
       'x0_Tryndamere', 'x0_Twisted', 'x0_Twitch', 'x0_Udyr', 'x0_Urgot',
       'x0_Varus', 'x0_Vayne', 'x0_Veigar', 'x0_VelKoz', 'x0_Vex',
       'x0_Vi', 'x0_Viego', 'x0_Viktor', 'x0_Vladimir', 'x0_Volibear',
       'x0_Warwick', 'x0_Wukong', 'x0_Xayah', 'x0_Xerath', 'x0_Xin',
       'x0_Yasuo', 'x0_Yone', 'x0_Yorick', 'x0_Yuumi', 'x0_Zac', 'x0_Zed',
       'x0_Zeri', 'x0_Ziggs', 'x0_Zilean', 'x0_Zoe', 'x0_Zyra', 'x1_0',
       'x1_1', 'x1_2', 'x1_3', 'x1_4', 'x1_5', 'x1_6', 'x1_7', 'x1_8',
       'x1_9', 'x1_10', 'x1_11', 'x1_12', 'x1_13', 'x1_14', 'x1_15',
       'x1_16', 'x1_17', 'x1_18', 'x1_19', 'x1_20', 'x1_21', 'x1_22',
       'x1_23', 'x1_24', 'x1_25', 'x1_26', 'x1_27', 'x1_28', 'x1_29',
       'x1_30', 'x1_31', 'x1_32', 'x1_33', 'x1_34', 'x1_35', 'x1_36',
       'x1_37', 'x1_38', 'x1_39', 'x1_40', 'x1_41', 'x1_42', 'x1_43',
       'x1_44', 'x1_45', 'x1_46', 'x1_47', 'x1_48', 'x1_49', 'x1_50',
       'x1_51', 'x1_52', 'x1_53', 'x1_54', 'x1_55', 'x1_56', 'x1_57',
       'x1_58', 'x1_59', 'x1_60', 'x1_61', 'x1_62', 'x1_63', 'x1_64',
       'x1_65', 'x1_66', 'x1_67', 'x1_68', 'x1_69', 'x1_70', 'x1_71',
       'x1_72', 'x1_73', 'x1_74', 'x1_75', 'x1_76', 'x1_77', 'x1_78',
       'x1_79', 'x1_80', 'x1_81', 'x1_82', 'x1_83', 'x1_84', 'x1_85',
       'x1_86', 'x1_87', 'x1_88', 'x1_89', 'x1_90', 'x1_91', 'x1_92',
       'x1_93', 'x1_94', 'x1_95', 'x1_96', 'x1_97', 'x1_98', 'x1_99',
       'x1_100', 'x1_101', 'x1_102', 'x1_103', 'x1_104', 'x1_105',
       'x1_106', 'x1_107', 'x1_108', 'x1_109', 'x1_110', 'x1_111',
       'x1_112', 'x1_113', 'x1_114', 'x1_115', 'x1_116', 'x1_117',
       'x1_118', 'x1_119', 'x1_120', 'x1_121', 'x1_122', 'x1_123',
       'x1_124', 'x1_125', 'x1_126', 'x1_127', 'x1_128', 'x1_129',
       'x1_130', 'x1_131', 'x1_132', 'x1_133', 'x1_134', 'x1_135',
       'x1_136', 'x1_137', 'x1_138', 'x1_139', 'x1_140', 'x1_141',
       'x1_142', 'x1_143', 'x1_144', 'x1_145', 'x1_146', 'x1_147',
       'x1_148', 'x1_149', 'x1_150', 'x1_151', 'x1_152', 'x1_153',
       'x1_154', 'x1_155', 'x1_156', 'x1_157', 'x1_158', 'x1_159'],
      dtype=object)

In [21]:
enc.inverse_transform(enc_feature)

array([['Irelia', 0],
       ['Volibear', 1],
       ['LeBlanc', 2],
       ['Nidalee', 3],
       ['Rell', 4],
       ['Lee', 5],
       ['Hecarim', 6],
       ['Zeri', 7],
       ['Graves', 8],
       ['Azir', 9],
       ['Veigar', 10],
       ['Galio', 11],
       ['Akshan', 12],
       ['Karma', 13],
       ['Cassiopeia', 14],
       ['Nocturne', 15],
       ['Diana', 16],
       ['Twisted', 17],
       ['Tryndamere', 18],
       ['Caitlyn', 19],
       ['Kaisa', 20],
       ['Zoe', 21],
       ['Ryze', 22],
       ['Jayce', 23],
       ['Gwen', 24],
       ['Thresh', 25],
       ['Camille', 26],
       ['Yasuo', 27],
       ['Jhin', 28],
       ['Ahri', 29],
       ['Samira', 30],
       ['Aphelios', 31],
       ['Vex', 32],
       ['Xayah', 33],
       ['Akali', 34],
       ['Renata', 35],
       ['Zilean', 36],
       ['Gragas', 37],
       ['Xin', 38],
       ['Gnar', 39],
       ['Renekton', 40],
       ['Lux', 41],
       ['Gangplank', 42],
       ['Viego', 43],
       ['Syndra', 44],
       ['Leona', 45],
       ['Senna', 46],
       ['Darius', 47],
       ['Neeko', 48],
       ['Tahm', 49],
       ['Karthus', 50],
       ['Seraphine', 51],
       ['Jinx', 52],
       ['Nautilus', 53],
       ['Corki', 54],
       ['Sylas', 55],
       ['Jarvan', 56],
       ['Qiyana', 57],
       ['Trundle', 58],
       ['Twitch', 59],
       ['Evelynn', 60],
       ['Tristana', 61],
       ['Orianna', 62],
       ['Fiora', 63],
       ['Draven', 64],
       ['RekSai', 65],
       ['Kalista', 66],
       ['Yuumi', 67],
       ['Yone', 68],
       ['Viktor', 69],
       ['Pyke', 70],
       ['Annie', 71],
       ['Riven', 72],
       ['Ornn', 73],
       ['Poppy', 74],
       ['Rakan', 75],
       ['Rumble', 76],
       ['Ziggs', 77],
       ['Blitzcrank', 78],
       ['Xerath', 79],
       ['KhaZix', 80],
       ['Heimerdinger', 81],
       ['Kassadin', 82],
       ['Sett', 83],
       ['Soraka', 84],
       ['Sion', 85],
       ['Varus', 86],
       ['Ekko', 87],
       ['Sejuani', 88],
       ['Urgot', 89],
       ['Lulu', 90],
       ['Olaf', 91],
       ['None', 92],
       ['Ivern', 93],
       ['Janna', 94],
       ['Talon', 95],
       ['Jax', 96],
       ['Lucian', 97],
       ['Fiddlesticks', 98],
       ['Ezreal', 99],
       ['Kindred', 100],
       ['Kled', 101],
       ['Morgana', 102],
       ['Vladimir', 103],
       ['Zed', 104],
       ['Sona', 105],
       ['Aatrox', 106],
       ['Amumu', 107],
       ['Kennen', 108],
       ['Nami', 109],
       ['Miss', 110],
       ['Malphite', 111],
       ['Alistar', 112],
       ['Aurelion', 113],
       ['Sivir', 114],
       ['Illaoi', 115],
       ['Ashe', 116],
       ['KogMaw', 117],
       ['Bard', 118],
       ['Kayle', 119],
       ['Dr.', 120],
       ['Shaco', 121],
       ['Nasus', 122],
       ['Zac', 123],
       ['Kayn', 124],
       ['Elise', 125],
       ['Katarina', 126],
       ['Udyr', 127],
       ['Nunu', 128],
       ['Shen', 129],
       ['Wukong', 130],
       ['Lillia', 131],
       ['Skarner', 132],
       ['Garen', 133],
       ['Vayne', 134],
       ['Taliyah', 135],
       ['Anivia', 136],
       ['Yorick', 137],
       ['Pantheon', 138],
       ['Quinn', 139],
       ['VelKoz', 140],
       ['Rengar', 141],
       ['Malzahar', 142],
       ['Maokai', 143],
       ['Taric', 144],
       ['Fizz', 145],
       ['Swain', 146],
       ['Mordekaiser', 147],
       ['Chogath', 148],
       ['Shyvana', 149],
       ['Teemo', 150],
       ['Zyra', 151],
       ['Braum', 152],
       ['Lissandra', 153],
       ['Vi', 154],
       ['Singed', 155],
       ['Master', 156],
       ['Brand', 157],
       ['Warwick', 158],
       ['Rammus', 159]], dtype=object)

In [22]:
enc_feature

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [23]:
def one_hot_maker(input_df: pd.DataFrame, column_name: str) -> pd.DataFrame:

    df = pd.DataFrame(input_df[f'{column_name}'].unique())
    X = []
    for i in range(len(df)):
        x = []
        x.append(df[0][i])
        x.append(df.index.to_list()[i])
        X.append(x)

    enc = OneHotEncoder(handle_unknown='ignore')
    enc.fit(X)

    enc_feature = enc.transform(X).toarray()

    f_df = pd.DataFrame()
    f_df['Names'] = enc.inverse_transform(enc_feature).tolist()
    f_df['Feature'] = enc_feature.tolist()

    return f_df

In [24]:
one_hot_maker(df_general, 'Club_Name')

,Names,Feature
0,"[Dark Passage Academy, 0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,"[Fenerbahçe Academy, 1]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,"[Dusty, 2]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,"[Riddle Esports, 3]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,"[BISONS ECLUB, 4]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...
760,"[Dynamo Eclot Academy, 760]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
761,"[Barrage.NA, 761]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
762,"[Legend Esport Gaming, 762]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
763,"[Shu Dai Xiong Gaming, 763]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
764,"[Gamers2, 764]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [25]:
f_df = pd.DataFrame()

In [26]:
f_df['Names'] = enc.inverse_transform(enc_feature).tolist()
f_df['Feature'] = enc_feature.tolist()

In [27]:
f_df['Names'].iloc[0][0]

'Irelia'

In [28]:
pd.DataFrame(df_general['Club_Name'].unique())

                        0
0    Dark Passage Academy
1      Fenerbahçe Academy
2                   Dusty
3          Riddle Esports
4            BISONS ECLUB
..                    ...
760  Dynamo Eclot Academy
761            Barrage.NA
762  Legend Esport Gaming
763  Shu Dai Xiong Gaming
764               Gamers2

[765 rows x 1 columns]

In [29]:
df_general

,Club_Name,Result,Kills,First_Blood,First_Tower,Dragons,Barons,Gold,Ban_1,Ban_2,...,Ban_4,Ban_5,Pick_1,Pick_2,Pick_3,Pick_4,Pick_5,Match_id,Time,Game_Version
0,Dark Passage Academy,LOSS,17,0.0,0,2,0.0,57.3k,Irelia,Yone,...,Akshan,Jayce,Gragas,Hecarim,Ahri,Jinx,Leona,391210,33:41,v12.5
1,Fenerbahçe Academy,LOSS,16,0.0,1,1,1.0,62.4k,Volibear,Lee,...,Sett,Camille,Akshan,Xin,Ryze,Xayah,Tahm,391211,34:54,v12.5
2,Fenerbahçe Academy,WIN,19,1.0,1,2,1.0,47.6k,LeBlanc,Volibear,...,Sett,Tryndamere,Lee,Kindred,Syndra,Xayah,Renata,391212,22:06,v12.5
3,Fenerbahçe Academy,WIN,21,1.0,0,3,1.0,47.9k,LeBlanc,Volibear,...,Ahri,Orianna,Aatrox,Lee,Syndra,Kaisa,Leona,391213,22:26,v12.5
4,Dusty,WIN,19,1.0,1,1,1.0,53.7k,Nidalee,Diana,...,Gangplank,Karma,Gnar,Volibear,Akali,Jinx,Nautilus,390410,26:38,v12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57092,Copenhagen Wolves,LOSS,6,1.0,0,1,0.0,42.1k,Dr.,Yasuo,...,None,None,Shyvana,Olaf,Zyra,Lucian,Lulu,47100,30:37,v3.15
57093,Fnatic,WIN,15,1.0,0,1,1.0,72.5k,Yasuo,Elise,...,None,None,Renekton,Vi,Ziggs,Jinx,Leona,47090,43:49,v3.15
57094,Roccat,WIN,14,0.0,0,2,2.0,59.5k,Vi,Dr.,...,None,None,Malphite,Elise,Pantheon,Lucian,Thresh,47080,31:14,v3.15
57095,Alliance,LOSS,9,1.0,1,1,0.0,54.7k,Kassadin,KhaZix,...,None,None,Renekton,Vi,Gragas,Caitlyn,Thresh,47070,41:14,v3.15
57096,Gambit Gaming,LOSS,5,0.0,0,3,0.0,45.2k,Kassadin,Nidalee,...,None,None,Dr.,Shyvana,LeBlanc,Lucian,Thresh,47060,32:04,v3.15

In [30]:
df_general['Result'] = df_general['Result'].apply(lambda x: 1 if x == 'WIN' else 0)

In [31]:
df_general['Time'] = df_general['Time'].apply(lambda x: float(x.replace(':', '.')))

In [32]:
df_general['Gold'] = df_general['Gold'].apply(lambda x: float(x.replace('k', '000').replace('.', '')))

In [33]:
final_df = df_general.drop(['Club_Name', 'Ban_2', 'Ban_3', 'Ban_4', 'Ban_5', 'Pick_1', 'Pick_2', 'Pick_3', 'Pick_4', 'Pick_5', 'Match_id', 'Game_Version'], axis=1)

In [34]:
encoder_df = pd.DataFrame(enc.fit_transform(final_df[['Ban_1']]).toarray())

In [35]:
final_df = final_df.join(encoder_df)

In [36]:
final_df.dropna(inplace=True)

In [37]:
y = final_df['Result']
final_df.drop(['Ban_1', 'Result'], axis=1, inplace=True)

In [38]:
final_df['First_Blood'] = final_df['First_Blood'].apply(lambda x: float(x))

In [39]:
final_df

,Kills,First_Blood,First_Tower,Dragons,Barons,Gold,Time,0,1,2,...,150,151,152,153,154,155,156,157,158,159
0,17,0.0,0,2,0.0,573000.0,33.41,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,16,0.0,1,1,1.0,624000.0,34.54,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,19,1.0,1,2,1.0,476000.0,22.06,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21,1.0,0,3,1.0,479000.0,22.26,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,19,1.0,1,1,1.0,537000.0,26.38,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57092,6,1.0,0,1,0.0,421000.0,30.37,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57093,15,1.0,0,1,1.0,725000.0,43.49,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57094,14,0.0,0,2,2.0,595000.0,31.14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57095,9,1.0,1,1,0.0,547000.0,41.14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57096,5,0.0,0,3,0.0,452000.0,32.04,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
X_train, X_test, y_train, y_test = train_test_split(final_df, y, test_size=0.20, random_state=42)

In [41]:
X_train

,Kills,First_Blood,First_Tower,Dragons,Barons,Gold,Time,0,1,2,...,150,151,152,153,154,155,156,157,158,159
29906,22,1.0,0,4,0.0,721000.0,42.03,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22311,4,1.0,1,0,0.0,483000.0,32.06,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50625,16,0.0,0,0,1.0,68000.0,35.10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52017,6,0.0,0,3,1.0,492000.0,25.25,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20417,11,1.0,0,3,1.0,791000.0,43.35,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54361,1,0.0,0,0,0.0,538000.0,33.55,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38175,19,1.0,1,3,1.0,498000.0,25.51,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
860,10,1.0,0,4,0.0,506000.0,30.58,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15797,24,0.0,1,3,1.0,60000.0,32.39,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56440,17,0.0,0,2,0.0,699000.0,45.26,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
from sklearn.dummy import DummyClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error

In [56]:
dummy_class = DummyClassifier()

In [57]:
dummy_class.fit(X_train, y_train)

DummyClassifier()

In [58]:
dummy_pred = dummy_class.predict(X_test)

In [59]:
dummy_class.score(X_test, y_test)

0.5101611772950245

In [60]:
knc = KNeighborsClassifier().fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [61]:
knc_pred = knc.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [64]:
knc.score(X_test, y_test)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

0.9012789067974772

In [65]:
mean_squared_error(y_test, dummy_pred)

0.4898388227049755

In [66]:
mean_squared_error(y_test, knc_pred)

0.09872109320252277